<footer class="footer">
    <div class="wrapper">
        <div class="footer__wrapper">
            <div class="footer__mobile">
                <img src="./assets/img/main/footer/logo2.png" alt="logo" class="footer__logo">
            </div>

            <div class="footer__row">
                <div class="footer__list">
                    <div class="footer__item">
                        <div class="footer__item-header">
                            <h3 class="footer__item-title">Компания</h3>
                            <img src="./assets/img/main/footer/toggle.svg" alt="" class="footer__item-toggle">
                        </div>

                        <div class="footer__item-content">
                            <a href="#" class="footer__item-link">О компании</a>
                            <a href="#" class="footer__item-link">Lonking</a>
                            <a href="#" class="footer__item-link">Наш блог</a>
                            <a href="#" class="footer__item-link">Реквизиты</a>
                        </div>
                    </div>
                    <div class="footer__item">
                        <div class="footer__item-header">
                            <h3 class="footer__item-title">Каталог</h3>
                            <img src="./assets/img/main/footer/toggle.svg" alt="" class="footer__item-toggle">
                        </div>

                        <div class="footer__item-content">
                            <a href="#" class="footer__item-link">Мини-погрузчики</a>
                            <a href="#" class="footer__item-link">Фронтальные погрузчики</a>
                            <a href="#" class="footer__item-link">Экскаваторы</a>
                            <a href="#" class="footer__item-link">Подержанная спецтехника</a>
                        </div>
                    </div>
                    <div class="footer__item">
                        <div class="footer__item-header">
                            <h3 class="footer__item-title">Услуги</h3>
                            <img src="./assets/img/main/footer/toggle.svg" alt="" class="footer__item-toggle">
                        </div>

                        <div class="footer__item-content">
                            <a href="#" class="footer__item-link">Гарантийное обслуживание</a>
                            <a href="#" class="footer__item-link">Сервис и ремонт</a>
                            <a href="#" class="footer__item-link">Поставка запчастей</a>
                            <a href="#" class="footer__item-link">Спецтехника в лизинг</a>
                            <a href="#" class="footer__item-link">Трейд-Ин</a>
                        </div>
                    </div>
                    <div class="footer__item footer__item--large">
                        <div class="footer__contact">
                            <a href="tel:+78123137784" class="footer__contact-link footer__contact--bold">
                                <img src="./assets/img/main/icons/phone.png" alt="" class="footer__contact-icon">
                                <span>+7 (812) 313-77-84</span> 
                            </a>
                            <a href="#" class="footer__contact-sublink">
                                <img src="./assets/img/main/icons/wa.png" alt="" class="footer__contact-subicon">
                            </a>
                            <a href="#" class="footer__contact-sublink">
                                <img src="./assets/img/main/icons/tg.png" alt="" class="footer__contact-subicon">
                            </a>
                        </div>
                        <div class="footer__contact">
                            <a href="mailto:" class="footer__contact-link">
                                <img src="./assets/img/main/icons/email.png" alt="" class="footer__contact-icon">
                                <span>info@zts-spb.ru</span>
                            </a>
                        </div>
                        <div class="footer__contact">
                            <a href="#" class="footer__contact-link">
                                <img src="./assets/img/main/icons/location.png" alt="" class="footer__contact-icon">
                                <span>198216 Санкт-Петербург, Краснопутиловская 46</span> 
                            </a>
                        </div>

                        <div class="footer__links">
                            <a href="#" class="footer__links-link">
                                <img src="./assets/img/main/icons/yt.png" alt="" class="footer__links-icon">
                            </a>
                            <a href="#" class="footer__links-link">
                                <img src="./assets/img/main/icons/vk.png" alt="" class="footer__links-icon">
                            </a>
                            <a href="#" class="footer__links-link">
                                <img src="./assets/img/main/icons/od.png" alt="" class="footer__links-icon">
                            </a>
                        </div>

                        <button class="footer__callback">Обратная связь</button>
                    </div>
                </div>
            </div>

            <div class="footer__row">
                <div class="footer__list">
                    <div class="footer__item">
                        <span class="footer__text">© АО "Lonking" 2012 - 2022</span>
                    </div>
                    <div class="footer__item">
                        <div class="footer__link-block">
                            <a href="#" class="footer__link">Политика конфиденциальности</a>
                        </div>
                    </div>
                    <div class="footer__item">
                        <div class="footer__link-block">
                            <a href="#" class="footer__link">Политика обработки cookie</a>
                        </div>
                    </div>
                    <div class="footer__item footer__item--large footer__item--items-left">
                        <a href="#" class="footer__bottom-link">
                            <img src="./assets/img/main/vmgr.svg" alt="" class="footer__bottom-icon">
                        </a>

                        <a href="#" class="footer__bottom-link">
                            <img src="./assets/img/main/bitrix.png" alt="" class="footer__bottom-icon">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>