<header class="header">
    <div class="container"></div>
    <div class="wrapper header__wrapper">
        <div class="header__left">
            <div class="header__left-row">
                <a href="#" class="header__logo-block">
                    <img src="./assets/img/main/logo.png" alt="logo" class="header__logo">
                    <img src="./assets/img/main/logo-black.png" alt="" class="header__logo header__logo--alt">
                </a>
            </div>
            <div class="header__left-row"> 
                <div class="header__picture-block">
                    <img src="./assets/img/main/ztc.png" alt="ztc" class="header__picture">
                </div>
            </div>
        </div>
        <div class="header__middle">
            <div class="header__middle-row">
                <div class="header__middle-item header__middle-item--fixed">
                    <span class="header__middle-text">Китайская спецтехника Lonking Продажа, сервис, запчасти</span>
                </div>
                <div class="header__middle-item header__middle-item--important">
                    <div class="header__location">
                        <img src="./assets/img/main/icons/location.png" alt="" class="header__middle-icon">
                        <span class="heaer__location-active">Санкт-Петербург</span>
                            <!-- here will be sublocation -->

                        <div class="header__toggle-block">
                            <img src="./assets/img/main/icons/arrow-toggle.png" alt="" class="header__toggle-image header__toggle-image--fixed">
                            <img src="./assets/img/main/icons/arrow-toggle-white.png" alt="" class="header__toggle-image">
                        </div>
                    </div>
                </div>
                <div class="header__middle-item">
                    <span class="header__middle-text">198216 Санкт-Петербург, Краснопутиловская 46</span>
                </div>
                <a href="#" class="header__middle-item header__middle-item--important">
                    <img src="./assets/img/main/icons/email.png" alt="" class="header__middle-icon">
                    <span  class="header__middle-link">info@zts-sbp.ru</span>
                </a>
            </div>
            <nav class="header__middle-row header__nav">
                <ul class="header__navigation">
                    <li class="header__navigation-item">
                        <span>Компания</span>

                        <div class="header__toggle-block">
                            <img src="./assets/img/main/icons/arrow-toggle.png" alt="" class="header__toggle-image header__toggle-image--fixed">
                            <img src="./assets/img/main/icons/arrow-toggle-white.png" alt="" class="header__toggle-image">
                        </div>
                        <!-- ul li here -->
                    </li>
                    <li class="header__navigation-item">
                        <span>Каталог</span>

                        <div class="header__toggle-block">
                            <img src="./assets/img/main/icons/arrow-toggle.png" alt="" class="header__toggle-image header__toggle-image--fixed">
                            <img src="./assets/img/main/icons/arrow-toggle-white.png" alt="" class="header__toggle-image">
                        </div>
                        <!-- ul li here -->
                    </li>
                    <li class="header__navigation-item">
                        <span>Услуги</span>

                        <div class="header__toggle-block">
                            <img src="./assets/img/main/icons/arrow-toggle.png" alt="" class="header__toggle-image header__toggle-image--fixed">
                            <img src="./assets/img/main/icons/arrow-toggle-white.png" alt="" class="header__toggle-image">
                        </div>
                        <!-- ul li here -->
                    </li>
                    <li class="header__navigation-item">Галерея</li>
                    <li class="header__navigation-item">Контакты</li>
                </ul>
            </nav>
        </div>
        <div class="header__right">
            <div class="header__bottom-row header__links">
                <a href="#" class="header__links-item">
                    <img src="./assets/img/main/icons/wa.png" alt="WhatsApp" class="header__link-icon">
                </a>
                <a href="#" class="header__links-item">
                    <img src="./assets/img/main/icons/tg.png" alt="Telegram" class="header__link-icon">
                </a>
                <a href="tel:+78123137784" class="header__links-item header__links-phone">
                    +7 (812) 313-77-84
                </a>
            </div>
            <div class="header__bottom-row">
                <div class="header__button">Заказать звонок</div>
            </div>
        </div>
    </div>
</header>

<div class="header--mobile">
    
</div>